/* bs */

html, body,
.main-container,
.top-row,
.top-row .top-grid,
.tab-body {
  height: 100%;
}
.nowrap { white-space: nowrap; }
.main-container {
  background-color: #f0f2f7;
}
.top-grid {
  margin-top: 20px;
}
.top-row {
  padding: 0 15px;
}
.tab-body {
  background-color: white;
  padding: 30px 10px 30px 10px;
  margin: -140px 0 0 -16px;
  box-shadow: #888888 -3px 0px 5px;
  border: 1px solid #ddd;
}
.emender-header {
  border-left: 3px solid black;
  margin-left: 15px;
  padding: 0 0 5px 10px;
}
.emender-header ul li {
  margin: 0;
  padding: 0;
}
.page-header h3 {
  text-transform: uppercase;
  padding: 5px 0 0 0;
}
.page-header {
  margin: 20px 0 0 0;
  border: none;
}
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
.tab-pane .tab-body-cell {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
.tab-pane .tab-body-cell:hover {
  background-color: #f0f0f0;
}
.tab-pane .test-results tr td:last-child {
  width: 100%;
}
.tab-pane {
  padding: 0 10px 10px 10px;
}
.nav li {
  box-shadow: #888888 -3px 0px 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.nav > li a:hover,
.nav > li a:active {
  background-color: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.nav>li.active>a {
  z-index: 2;
}
.nav>li>a {
  z-index: 1;
}
.progress { margin-bottom: 10px; }
.summary table { margin-top: 20px; }
td { 
  font-size: small; 
  padding-right: 10px;
  vertical-align: top;
}
.pass { color: #5cb85c; }
.fail { color: #d9534f; }
.info { color: #f0ad4e; }
.norun { color: gray; }
.pass,
.fail,
.info {
  font-weight: bold;
}
.tab-head .bullet {
  font-size: 60px;
  line-height: 10px;
  vertical-align: -120%;
}
.tab-body .bullet {
  font-size: 50px;
  line-height: 10px;
  vertical-align: -100%;
}
.nav-tabs ul,
.tab-pane ul { 
  list-style-type: none;
  padding: 0 0 10px 10px;
  margin: 0;
}
.nav-tabs ul li span span,
.tab-pane ul { 
  list-style-type: none;
  padding: 0 0 10px 10px;
  margin: 0;
}

input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
label { 
  float: right;
  margin: 0 10px 0 0;
  cursor: pointer;
  position: relative;
  top: 5px;
  display: inline-block;
  font-weight: normal;
}
label .glyph { 
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

/* Default State */
label .glyph:after { 
  content: "\e114";
}
label:before { 
  content: "show all ";
}
.tab-pane .tab-body-cell table {
  display: none;
  clear: both;
}

/* Toggled State */
input[type=checkbox]:checked ~ label .glyph:after {
  content: "\e113";
}
input[type=checkbox]:checked ~ label:before {
  content: "hide ";
}
input[type=checkbox]:checked ~ label ~ table {
  display: block;
}
